/.phpunit.cache
/node_modules
/public/build
/public/hot
#/public/dashboard-assets/css
/public/dashboard-assets/datatables
/public/dashboard-assets/media
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
