/.phpunit.cache
/node_modules
/public/build
/public/hot
#/public/dashboard-assets/media/auth
#/public/dashboard-assets/media/avatars
#/public/dashboard-assets/media/books
#/public/dashboard-assets/media/email
/public/dashboard-assets/media/features-logos
/public/dashboard-assets/media/flags
/public/dashboard-assets/media/framework-logos
/public/dashboard-assets/media/icons
/public/dashboard-assets/media/illustrations
/public/dashboard-assets/media/logos
/public/dashboard-assets/media/misc
/public/dashboard-assets/media/patterns
/public/dashboard-assets/media/plugins
/public/dashboard-assets/media/preview
/public/dashboard-assets/media/product
/public/dashboard-assets/media/products
/public/dashboard-assets/media/smiles
/public/dashboard-assets/media/stock
/public/dashboard-assets/media/svg
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
