.my-header {
    width: 170px;
    height: 53px;
    padding: 10px;
    box-shadow: 0px 6px 20px 0px #00000014;
    background: #fafbfc;

    border-radius: 30px;
    svg {
        cursor: pointer;
        font-size: 23px;
        width: 23px;
        height: 23px;
        color: #a3aed0;
    }
    .image {
        width: 33px;
        height: 33px;
        cursor: pointer;
        .card {
            display: none;
        }
    }
    .light {
        display: none;
    }
}

.view-profile,
.image:hover {
    position: relative;
    .card {
        transform: translateX(-50%);
        left: 50%;
        display: block !important;
        z-index: 101;
        width: 257px;
        height: 300px;
        cursor: pointer;
        position: absolute;
        top: 50px;
        backdrop-filter: blur(20px);

        border-radius: 30px;
        box-shadow: 0 0 30px rgb(4 19 33 / 31%);
        transition: all 0.4s;
        overflow: hidden;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        .content {
            padding: 20px 0;
            width: 100%;
            height: 100%;
            color: #fff;
            background-color: #fafbfc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 80px;
                height: 80px;
                margin-bottom: 1rem;
                border-radius: 50%;

                margin-top: 15px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            h3 {
                margin-bottom: 0.8em;
                font-size: 1.5em;
                text-align: center;
                padding: 0 20px;
                color: #1b2559;
                small {
                    display: block;
                    font-size: 0.5em;
                    font-weight: normal;
                    color: #ffc107;
                }
            }

            p {
                font-size: 0.8em;
                text-align: center;
                color: #000000;
                padding: 30px 20px 0;
            }
        }

        button {
            width: 100%;
            padding: 16px 20px;
            color: #1b2559;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
            border-radius: 0 !important;

            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            -ms-border-radius: 0 !important;
            -o-border-radius: 0 !important;
            &:hover {
                background-color: #ececec;
                color: #ffc107;
            }
        }
    }
}

[data-theme="dark"] {
    .my-header {
        box-shadow: 0px 6px 20px 0px #00000014;
        background: #313149;

        .light {
            display: block;
        }
        .dark {
            display: none;
        }
    }

    .view-profile .card,
    .image:hover .card {
        .content {
            background-color: #40405b !important;
        }
        h3,
        button,
        p {
            color: #ffffff;
        }
        button:hover {
            background-color: #32324a;
        }
    }
}

@media (max-width: 1189px) {
    .view-profile .card,
    .image:hover .card {
        width: 195px;
    }
}
