.my-purple {
    background-color: #8e6faf;
    border: 1px solid #8e6faf !important;
    color: white;
    font-size: 13px;
    transition: all 0.3s linear;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    &:hover {
        background-color: transparent;
        color: #8e6faf;
    }
}

.tabel-img {
    width: 96px;
    height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tabel-inner {
    width: calc(100% - 120px);
    height: 100px;
}
.for-date {
    height: 100px;
    h3 {
        font-size: 15px;
        span {
            color: #a3aed0;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.actions {
    height: 100px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    .action-item {
        width: 30px;
        i {
            color: var(--kt-text-muted) !important;
            font-size: 16px;
        }
    }
}

th {
    border: none !important;
}

@media (max-width: 900px) {
    .for-date {
        h3 {
            font-size: 12px;
            span {
                font-size: 11px;
            }
        }
    }
    .tabel-inner {
        h3 {
            font-size: 11px;
        }
        span {
            font-size: 8px;
        }
    }
}

@media (max-width: 500px) {
    .for-date {
        h3 {
            font-size: 11px;
            span {
                font-size: 8px;
            }
        }
    }
    .tabel-inner {
        width: 100%;
        h3 {
            font-size: 11px;
        }
        span {
            font-size: 8px;
        }
    }
    .tabel-img {
        display: none;
    }
    .actions .action-item {
        width: 15px;
        i {
            font-size: 14px;
        }
    }
}

@media (max-width: 400px) {
    .for-date {
        h3 {
            font-size: 9px;
            span {
                font-size: 7px;
            }
        }
    }
    .tabel-inner {
        a {
            display: none;
        }
        width: 100%;
        height: 100px;
        h3 {
            font-size: 9px;
        }
        span {
            font-size: 7px;
        }
    }
    .tabel-img {
        display: none;
    }
    .actions .action-item {
        width: 11px;
        i {
            font-size: 11px;
        }
    }
}
