.my-purple {
    background-color: #8e6faf;
    border: 1px solid #8e6faf !important;
    color: white;
    font-size: 13px;
    transition: all 0.3s linear;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    &:hover {
        background-color: transparent;
        color: #8e6faf;
    }
}

.my-gold {
    border-radius: 50%;
    border: 0;
    padding: 0px;
    overflow: hidden;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        border-radius: 50%;

        height: 30px;
        margin: 0;
        background: #ffc1073d;
    }
    i,
    svg {
        padding: 0;
        margin: 0;
        color: #ffc107;
    }
}

.tabel-img {
    width: 87px;
    padding: 5px 0;
    height: 90px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tabel-inner {
    width: calc(100% - 120px);
    height: 100px;
}
.for-date {
    height: 100px;
    h3 {
        font-size: 15px;
        span {
            color: #a3aed0;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.actions {
    height: 100px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    .action-item {
        width: 30px;
        i {
            color: var(--kt-text-muted) !important;
            font-size: 16px;
        }
    }
}
.my-drop {
    &::after {
        display: none;
    }
}
.dropdown-menu.show {
    z-index: 100;
    position: absolute;
    inset: auto 0px 0px auto !important;
    margin: 0px;
    transform: translate3d(0.5px, -23.5px, 0px) !important;
    -webkit-transform: translate3d(0.5px, -23.5px, 0px) !important;
    -moz-transform: translate3d(0.5px, -23.5px, 0px) !important;
    -ms-transform: translate3d(0.5px, -23.5px, 0px) !important;
    -o-transform: translate3d(0.5px, -23.5px, 0px) !important;
}

th {
    border: none !important;
    padding: 0 !important;
}
td {
    border: none !important;

    padding: 1.25rem 0 !important;
}
.my-td-inner {
    position: relative;
    padding: 0 10px;

    background-color: var(--kt-tabel-color);
    /* margin: 30px 0; */
    z-index: 100;
}

table tr td:first-of-type {
    padding-left: 20px !important;
    .my-td-inner {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        &::after {
            display: none !important;
        }
    }
}

table tr td:last-of-type {
    padding-right: 20px !important;
    .my-td-inner {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.table-contaner-2 {
    th {
        border: none !important;

        padding: 1.25rem 0 !important;
    }
    thead th .my-td-inner {
        height: 55px;
        justify-content: center;
        h3 {
            color: #151d48;
            text-align: center;
        }
        &::after {
            display: none !important;
        }
    }
    .my-td-inner {
        justify-content: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 36px;
            background: #9f9f9f75;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    table tr th:first-of-type {
        padding-left: 20px !important;
        .my-td-inner {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }

    table tr th:last-of-type {
        padding-right: 20px !important;
        .my-td-inner {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}

[data-theme="dark"] {
    .card {
        background-color: #1e1e2d !important;
        td {
            box-shadow: none !important;
        }
    }
    .my-span {
        color: #ffc107;
        a {
            color: #ffffff;
            text-decoration: underline;
        }
        span {
            color: #ffffff;
        }
    }
}

[direction="rtl"] .card {
    table tr th:first-of-type {
        padding-right: 20px !important;
        padding-left: 0 !important ;
        .my-td-inner {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    table tr th:last-of-type {
        padding-right: 0px !important;
        padding-left: 20px !important ;
        .my-td-inner {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            &::after {
                display: block !important;
            }
        }
    }
    table tr td:first-of-type {
        padding-right: 20px !important;
        padding-left: 0 !important ;
        .my-td-inner {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    table tr td:last-of-type {
        padding-right: 0px !important;
        padding-left: 20px !important ;

        .my-td-inner {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }

    table tr td:first-of-type {
        .my-td-inner {
            &::after {
                display: block !important;
            }
        }
    }

    table tr td:last-of-type {
        .my-td-inner {
            &::after {
                display: none !important;
            }
        }
    }
}

@media (max-width: 900px) {
    .card-body {
        padding: 0 0.5rem;
    }

    table tr td:first-of-type {
        padding-left: 10px !important;
    }

    table tr td:last-of-type {
        padding-right: 10px !important;
    }

    .for-date {
        h3 {
            font-size: 12px;
            span {
                font-size: 11px;
            }
        }
    }
    .tabel-inner {
        h3 {
            font-size: 11px;
        }
        span {
            font-size: 8px;
        }
    }
}

@media (max-width: 500px) {
    .for-date {
        h3 {
            font-size: 11px;
            span {
                font-size: 8px;
            }
        }
    }
    .tabel-inner {
        width: 100%;
        h3 {
            font-size: 11px;
        }
        span {
            font-size: 8px;
        }
    }
    .tabel-img {
        display: none;
    }
    .actions .action-item {
        width: 15px;
        i {
            font-size: 14px;
        }
    }
}

@media (max-width: 400px) {
    .for-date {
        h3 {
            font-size: 9px;
            span {
                font-size: 7px;
            }
        }
    }
    .tabel-inner {
        a {
            display: none;
        }
        width: 100%;
        height: 100px;
        h3 {
            font-size: 9px;
        }
        span {
            font-size: 7px;
        }
    }
    .tabel-img {
        display: none;
    }
    .actions .action-item {
        width: 11px;
        i {
            font-size: 11px;
        }
    }
}
